TYPEORM_CONNECTION = mysql
TYPEORM_HOST = localhost
TYPEORM_USERNAME = user
TYPEORM_PASSWORD = password
TYPEORM_DATABASE = dtkt_ua
TYPEORM_PORT = 3306
TYPEORM_LOGGING = true
TYPEORM_ENTITIES = build/entity/**/.*js
#Important. Keep this as is. Otherwise db may be broken
TYPEORM_SYNCHRONIZE = false